.parent {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 50px);
  gap: 20px;
  color: white;
  font-size: 30px;
}
.header {
  background-color: rgb(65, 234, 186);
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  align-content: center;
}
.aside {
  background-color: rgb(47, 255, 113);
  grid-column: 1;
  grid-row: 2/8;
  display: grid;
  justify-content: center;
  align-content: center;
}
.article {
  background-color: orange;
  grid-column: 2/4;
  grid-row: 2/8;
}
.footer {
  background-color: rgb(65, 234, 186);
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  align-content: center;
}
.article {
  display: grid;
  justify-content: center;
  align-content: flex-end;
  justify-items: center;
  gap: 50px;
}
.parent2 {
  display: flex;
  justify-items: end;
  justify-content: center;
  gap: 10px;
}

.img {
  background-color: rgb(209, 209, 7);
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
